html {
background-color: #eee8d5;
}

body {
font-family: helvetica, arial, sans-serif;
font-size: 12pt;
margin: 0 auto 0 auto;
width: 900px;
background-color: #fdf6e3;
padding: 16px;
color: #657b83;
}

h1 {
font-weight: bold;
color: #b58900;
}

h2 *, h2 {
color: #cb4b16 !important;
font-weight: normal;
font-family: helvetica, arial, sans-serif;
font-style: normal;
}

blockquote {
background-color: #eee8d5;
font-family: georgia, times, serif;
padding: 5px;
text-align: center;
border: #fdf6e3 solid;
border-width: 0 1px 0 1px;
}

q {
font-family: georgia, times, serif;
quotes: none;
}

blockquote, q , code {
color: #586e75;
}

blockquote, .console {
display: block;
margin: 0 -16px 0 -16px;
padding: 16px;
border-radius:0;
}

code {
font-family: inconsolata, courier, monospace;
display: inline;
}

.console {
background-color: #002b36;
color: #839496;
}

pre {
display: inline;
-moz-tab-size: 4;
-o-tab-size:   4;
tab-size:4;
font-size: 12pt;
padding:0;
margin:0;
}

ul {
list-style: square;
}

li {
color: #d33682;
}

li span {
color: #657b83;
}

table {
margin: auto;
}

table, td, th {
border-collapse: collapse;
border: 1px solid #6c71c4;
}

td, th {
padding: 5px;
}

th, th * {
background-color: #6c71c4;
color: #fdf6e3 !important;
}